/* Footer */

@use "variables" as var;

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var.$grey;
    padding: calc(var.$baseline * 2);

    .social {
        font-size: 2rem;
    }
}
