$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

$grey: #ccc;
$almost-black: #333;

$baseline: 1.4rem;

$main-serif: 'Baskervville', serif;
$main-sans: 'Lato', sans-serif;
$header-font: 'Lora', serif;
// $header-font: 'Montserrat Alternates', sans-serif;
$alternate-font: 'Montserrat Alternates', sans-serif;


$scale-factor: 1.2;
$scale-factor-mobile: 1.15;
