// TYPOGRAPHY

@forward "fonts";
@forward "code";
@forward "blockquotes";

@use "../variables" as var;

.body {
    font-family: var.$main-sans;
    line-height: 1.4;
    color: var.$almost-black;
}

// p, td, th, li, dd {
//     // text-align: justify;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
// }

p {
    margin-bottom: var.$baseline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var.$header-font;
    margin-bottom: var.$baseline;
    font-weight: bold;
}

