// TYPOGRAPHY

@forward "fonts";
@forward "code";
@forward "blockquotes";

@use "../variables" as var;
@use 'sass:math';

.body {
    font-family: var.$main-sans;
    line-height: 1.4;
    color: var.$almost-black;
}

// p, td, th, li, dd {
//     // text-align: justify;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
// }

p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: var.$baseline;
}

%headers {
    font-family: var.$header-font;
    font-weight: bold;
}

h1 {
    font-size: calc(1rem * math.pow(var.$scale-factor, 4));
}

h2 {
    @extend %headers;
    margin-bottom: var.$baseline;
    // margin-bottom: calc(var.$baseline / 2);
    font-size: calc(1rem * math.pow(var.$scale-factor, 3));
}

h3{
    @extend %headers;
    margin: 0;
    font-size: calc(1rem * math.pow(var.$scale-factor, 2));
}

h4{
    @extend %headers;
    margin: 0;
    font-size: calc(1rem * var.$scale-factor);
}

p + h2 {
    margin-top: calc(var.$baseline * 2);
}

ol + h2 {
    margin-top: calc(var.$baseline * 2);
}