/* Typografy */

@forward "code";
@forward "blockquotes";

@use "../variables";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

.body {
    font-family: 'Baskervville', serif;
    line-height: 1.4;
    color: #444;
}

p, td, th, li, dd {
    // text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin-bottom: variables.$baseline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.4rem;
    font-weight: bold;
}

img {
    max-width: 100%;
}
