// BACKGROUNDS

@use "variables" as var;

.bg-img {
    min-height: 600px;

    .content {
        background-color: var.$background-color-main;
        opacity: 0.8;
        padding: var.$baseline;
        margin: - var.$baseline;
        border-radius: 5px;

        border: 5px solid var.$border-color-soft-2; 
    }
}

.hobby {
    background: url("../../../image/backgrounds/disc-dog.jpg?w=750&h=750&crop-to-fit&q=70&area=5,15,0,0&sc=yellow") no-repeat fixed center;
}

.home {
    background: url("../../../image/backgrounds/kid-field.jpg?w=750&h=750&crop-to-fit&q=50&sc=yellow") no-repeat fixed center;

    .content {
        border: 0; 
    }
}

.about {
    background: url("../../../image/backgrounds/web-design.jpg?w=750&h=750&crop-to-fit&area=15,10,0,0&q=70&sc=yellow") no-repeat fixed center;
}