// GALLERY

@use "variables" as var;

.gallery {
    flex: 1 0 auto;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: var.$baseline;
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var.$baseline;

    .gallery-item {
        width: 100%;
    }

    > h2 {
        grid-column: span 3;
        margin-bottom: 0;
    }

    > * {
        grid-column: span 3;
    }

    > .embed-container {
        grid-column: span 3;
        grid-row: span 2;
    }
}


// height of img are set to match a width of 100%
// .gallery-item {
//     width: 100%;
//     padding-top: 100%; // aspect ratio 1:1 
//     position: relative;
// }

// .gallery-item img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
