/* Images */

@use "variables" as var;

.img {
    max-width: 100%;
}

.profile {
    float: left;
    margin: 0 var.$baseline var.$baseline 0;
    height: calc(var.$baseline * 11);
    border-radius: 5px;
}

// .design-process {
//     max-height: calc(var.$baseline * 13);
//     margin: auto;
//     border-radius: 5px;
// }

.screenshot {
    max-height: calc(var.$baseline * 15 );
    border-radius: 5px;
}

.screenshot-container {
    width: 100%;
    margin: var.$baseline 0;

    figcaption {
        padding-top: calc(var.$baseline / 2);
    }

    a,
    a:visited {
        color: var.$font-color;
        text-decoration: none;
        font-style: italic;
    }
}
