@use "variables" as var;

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var.$baseline;

    tbody tr:nth-child(2n + 1) {
        background-color: var.$background-color-table-2;
    }

    th {
        text-align: left;
    }

    td {
        border-top: 1px solid var.$border-color-soft;
    }

    th,
    td {
        padding: calc(var.$baseline / 2);
    }
}

.color-table {
    padding: var.$baseline;
    background-color: var.$background-color-table-1;
    border: 0;
    border-radius: 5px;

    border-spacing: 4px;
    border-collapse: separate;
    width: fit-content;

    td {
        height: 50px;
        width: 50px;
    }
}