/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    padding: 2.8rem;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}
