/* Test */

.box {
    border: 5px solid pink;
    padding: 2px;
}

.one {
    width: 600px;
    height: 100px;
    background-color: black;
    box-sizing: content-box;
}

.two {
    width: 100%;
    height: 100px;
    background-color: blue;
    box-sizing: content-box;
}

.three {
    width: 50vw;
    height: 100px;
    background-color: red;
    box-sizing: border-box;
}

.four {
    width: 100%;
    height: 100px;
    background-color: green;
    box-sizing: border-box;
}
