/* Header */

@forward "title";
@forward "navigation";

@use "../variables" as var;

%flex {
    display: flex;
    justify-content: space-between;
}

.header {
    @extend %flex;
    padding: 1.4rem;
    background-color: var.$grey;

    font-family: var.$alternate-font;
}

.site-header {
    @extend %flex;
}
