/* Navigation */

@use "../variables" as var;

.nav {
    a {
        font-family: var.$alternate-font;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    a:hover {
        border-bottom: 2px solid var.$almost-black;
    }
}
