/* Title */

@use "../variables" as var;

.title,
.logo {
    padding-right: var.$baseline;
}

.title * {
    font-family: var.$header-font;
    color: var.$almost-black;
}

.title p {
    font-style: italic;
}
