/* Title */

@use "../variables" as var;

.title,
.logo {
    padding-right: var.$baseline;
}

.title {
    * {
        color: var.$almost-black;
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    p {
        font-style: italic;
        font-weight: 400;
        letter-spacing: 0.1em;

    }

}
