* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.4em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

.body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1.4rem;
}

.header,
.footer {
    flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
}

.header {
    padding: 1.4rem;
}


/* Title */

.title, .logo {
    padding-right: 1.4rem;
}

@media (max-width: 400px) {
    .header {
        padding: 0.7rem;
    }

    .title, .logo {
        padding-right: 0.7rem;
    }
    .title {
        min-width: 50%;
        font-size: 80%;
    }
    .logo {
        max-width: 30%;
    }
}


.title * {
    color: #111;
}

.title p {
    font-style: italic;
}


/* Navigation */

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav a:hover {
    border-bottom: 2px solid #333;
}

.nav li:first-of-type {
    background-color: aqua;
}


.nav li:last-of-type {
    background-color: beige;
}

.nav li:hover {
    background-color: plum;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    padding: 2.8rem;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}


/* Typografy */

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');


.body {
    font-family: 'Baskervville', serif;
    line-height: 1.4;
    color: #444;
}

p, td, th, li, dd {
    /* text-align: justify; */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    margin-bottom: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.4rem;
    font-weight: bold;
}

img {
    max-width: 100%;
}


/* Images */

.img {
    max-width: 100%;
}

.profile {
    float: left;
    margin-right: 1.4rem;
}

@media (max-width: 520px) {
    .profile {
        float: none;
        margin-right: 0;
    }
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}


/* Test */

.box {
    border: 5px solid pink;
    padding: 2px;
}

.one {
    width: 600px;
    height: 100px;
    background-color: black;
    box-sizing: content-box;
}

.two {
    width: 100%;
    height: 100px;
    background-color: blue;
    box-sizing: content-box;
}

.three {
    width: 50vw;
    height: 100px;
    background-color: red;
    box-sizing: border-box;
}

.four {
    width: 100%;
    height: 100px;
    background-color: green;
    box-sizing: border-box;
}