{% include 'incl/header.twig' %}

<body class="body">
    {% include 'incl/nav.twig' %}

    <div class="single-page">
        <main class="main">
                {{ content }}
        </main>
        <aside class="sidebar" role="navigation">
            <h4>Analyser</h4>
            <ul>
                {% for page in pages("analysis") if not page.hidden %}
                    <li><a {% if page.id==current_page.id %} class="active" {% endif %}
                        href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
