{% include 'incl/header.twig' %}

<body class="body">
    {% include 'incl/nav.twig' %}

    <main class="main" role="main">
        <div class="landingpage">
            {{ content }}
        </div>
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
