// RESPONSIVE

@forward "mobile-menu";

@use "../variables" as var;

img {
    max-width: 100%;
}

@media (max-width: 400px) {
    .header {
        padding: calc(var.$baseline / 2);
    }

    .title,
    .logo {
        padding-right: calc(var.$baseline / 2);
    }

    .title {
        min-width: 50%;
        font-size: 80%;
    }

    .logo {
        max-width: 30%;
    }
}

@media (max-width: 520px) {
    .profile {
        float: none;
        margin-right: 0;
    }
}
