{% include 'incl/header.twig' %}

<body class="body">
    {% include 'incl/nav.twig' %}

    <main class="main" role="main">
        {{ content }}
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
