
// COLORS

// content background-color
$white: #fff;

// body background-color
$light-purple: #ccf;

// main text color
$almost-black: #333;

$black: #000;
$grey: #ccc;

// technologies
$azure: #f0ffff;
$beige: #f5f5dc;
$salmon: #fa8072;
$cornflowerblue: #6495ed;
$cadetblue: #5f9ea0;
$lavenderblush: #fff0f5;
$wheat: #f5deb3;

// $font-color: #000;
// $font-alternative-color: #fff;
// $accent-color: #ee6c4d;
// $background-color: #3d5a80;
// $background-alternative-color: #e0fbfc;

// FONTS
$main-serif: 'Baskervville', serif;
$main-sans: 'Lato', sans-serif;
$header-font: 'Lora', serif;
$alternate-font: 'Montserrat Alternates', sans-serif;


// baseline
$baseline: 1.4rem;


// size scaling
$scale-factor: 1.2;
$scale-factor-mobile: 1.15;
