/* Footer */

@use "variables" as var;

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var.$baseline;
    // background-color: var.$color-primary-1;

    padding: calc(var.$baseline * 2);

    font-family: var.$alternate-font;
    font-weight: 300;
    font-style: normal;


    .social {
        font-size: 2rem;
    }

    a {
        text-decoration: none;
    }
}
