@use "variables" as var;

.single-page {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1100px;

    display: flex;
    margin: 0 auto;
    border-radius: 10px;

    .main {
        flex: 0 1 750px;
    }

    .sidebar {
        min-width: 270px;
        flex: 1 0 auto;
        text-align: left;
        border-left: 1px solid var.$accent-alternative-color;
        padding: var.$baseline-x2 var.$baseline-x4;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar a {
        display: inline-block;
        text-decoration: none;
        color: var.$font-color;
        font-weight: bold;
        padding-top: var.$baseline;
        border-bottom: 2px solid transparent;
    }
    
    .sidebar .active,
    .sidebar a:hover {
        border-bottom: 2px solid var.$border-color-nav-2;
    }
}