@use "variables" as var;

table {
    width: 100%;
    border-collapse: collapse;
    margin: var.$baseline 0;

    tbody tr:nth-child(2n + 1) {
        background-color: var.$color-primary-2;
    }

    th {
        text-align: left;
    }

    td {
        border-top: 1px solid var.$grey-1;
    }

    th,
    td {
        padding: calc(var.$baseline / 2);
    }
}

.color-table {
    border-spacing: 4px;
    border-collapse: separate;
    width: fit-content;

    td {
        height: 50px;
        width: 50px;
    }

}