/* Header */

@forward "title";
@forward "navigation";

@use "../variables" as var;

%flex {
    display: flex;
    justify-content: space-between;
}

.header {
    @extend %flex;
    padding: var.$baseline;
    font-family: var.$alternate-font;
    // background-color: var.$color-secondary-2-1;
}

.site-header {
    @extend %flex;
}
