/* Navigation */

@use "../variables" as var;

.nav {
    a {
        color: var.$font-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-style: normal;
        border-bottom: 4px solid transparent;

    }

    .active,
    a:hover {
        border-bottom: 4px solid var.$border-color-nav-1;
    }
}
