/* Title */

@use "../variables" as var;

.title,
.logo {
    padding-right: var.$baseline;
}

.title {
    a {
        text-decoration: none;
        color: var.$font-color;
    }

    h1 {
        font-weight: 300;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    p {
        font-weight: 400;
        font-style: italic;
        letter-spacing: 0.1em;
    }
}
